.OverviewLayout {
  background-color: rgb(174, 154, 154);
  width: calc(200vh - 4em);
  height: calc(100vh - 4em);
  border-style: solid;
}

.BarSize {
  height: 300px;
  width: 300px;
}

.TableSize {
  height: 180px;
  width: 180px;
}

.PlantSize {
  height: 100px;
  width: 50px;
}

.scrollable-menu {
  height: 280px;
  max-height: 280px;
  overflow-x: hidden;
}
.button-tabOut {
  appearance: button;
  background-color: #2a9d8f;
  border: solid transparent;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 60%;
  height: 80px;
  margin-top: 50px;
}

.button-PrintBill {
  appearance: button;
  background-color: #dd6031;
  border: solid transparent;
  border-top-width: medium;
  border-right-width: medium;
  border-bottom-width: medium;
  border-left-width: medium;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 60%;
  height: 80px;
  margin-top: 60px;
}
