.OverviewLayout {
  background-color: rgb(174, 154, 154);
  width: calc(200vh - 4em);
  height: calc(100vh - 4em);
  border-style: solid;
}

.BarSize {
  height: 300px;
  width: 300px;
}

.TableSize {
  height: 180px;
  width: 180px;
}

.PlantSize {
  height: 100px;
  width: 50px;
}

.TableText {
  color: white;
  font-weight: bold;
  font-size: 50px;
}

.TableAlignment {
  text-align: center;
  margin-top: 30px;
}
