.ListGroupBtn:hover {
    background-color: lightgray;
    color: lightcoral;
    cursor: pointer;
  }

.tableListItem:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.CardGroupCardWithOnClick {
  margin: 1rem;
}

.CardGroupCard {
  margin: 1rem;
  border: 1px solid black !important;
  height: 20rem;
}

.CardGroupCardWithOnClick:hover {
  background-color: #EBEBEB;
  cursor: pointer;
}

.CardGroupCard:hover {
  background-color: #EBEBEB;
}

